html, body{
    padding: 0px;
    margin: 0px;
    height: 100%;

    /* 1 */
    background-color: pink;

    /* #2 gradient color*/
    background-image: linear-gradient(gray, white);

    /* #3 background-cover */
    background-image: url("image/images.jpg");
    background-size: cover;

    /* #4 background-tile תמונה שממשיכה את עצמה על כל הדף לדוגמא עננים*/
    background-image: url("image/for_tile.jpg");
}

p{
    color: red;

}