body{
    margin: 0px;
    padding: 0px;
}

#layout{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#layout aside{
    font-size: xx-large;
    border: solid;
    background-color: black;
    cursor: pointer;
    margin-left: 30px;
    padding: 10px 30px;
    margin-right: auto;
    color: orange;
}


#layout main{
    color: orange;
    font-size: xx-large;
    padding: 10px 30px;
    border: solid;
    background-color: black;
    margin-left: auto;
}


nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

nav div{
    border: 1px solid;
    padding: 10px;
}

nav div:hover{
    background-color: aqua;
    transition: background-color 0.6s;
}