div{
    border: 1px solid red;
    width: 200px;
    height: 70px;
    background-color: orange;
    margin-top:20px;
    padding: 20px;
    text-align: center;
    font-size: x-large;
}

/* הדיב הראשון */
div:nth-child(1){
    color: red;
    box-shadow: 10px 5px 10px blue;
    text-shadow: 3px 6px 5px;
}

/* הדיב השני */
div:nth-child(2){
    background-image: linear-gradient(45deg, red, yellow, green);
}

div:nth-child(3){
    transform: rotate(30deg) scale(1);
}

div:nth-child(4){
    animation: coolAnimation 2s infinite;
}

div:nth-child(5){
    font-family: lior;
}


a{
    background-color: burlywood;
    color: black;
    text-decoration: none;
    padding: 20px;
    font-size: xx-large;
 
    
}
a:hover{
    color: red;
    background-color: black;
    
}


@keyframes coolAnimation{
    0%{
        width: 100px;
        color: orange;
    }
    30%{
        width: 200px;
        color: blue;
        transform: rotate(45deg);
    }
    100%{
        width: 180px;
        color: red;
    }
}

@font-face {
    font-family: lior ;
    src: url("public/fonts/Milestones.otf");
}
